" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

" Enable relative line numbers
set relativenumber

" Optional: Also show the current line number (hybrid mode)
set number

" Set space as leader
let mapleader = " "

" Open file browser (uses IntelliJ's project view)
nnoremap <leader>pv :action ActivateProjectToolWindow<CR>

" Reformat file (uses IntelliJ's reformat action)
nnoremap <leader>rf :action ReformatCode<CR>

" File navigation (IntelliJ equivalents to Telescope)
nnoremap <leader>f :action GotoFile<CR>
nnoremap <leader>e :action RecentFiles<CR>
nnoremap <leader>s :action SearchEverywhere<CR>

" Save all files
nnoremap <leader>W :action SaveAll<CR>
